Backend/UnoTaskManager.API/.vs/UnoTaskManager.API/v17/.suo
Backend/UnoTaskManager.API/.vs/UnoTaskManager.API/v17/DocumentLayout.json
Backend/UnoTaskManager.API/.vs/UnoTaskManager.API/CopilotIndices/17.14.1431.25910/CodeChunks.db
Backend/UnoTaskManager.API/.vs/UnoTaskManager.API/CopilotIndices/17.14.1431.25910/CodeChunks.db
Backend/UnoTaskManager.API/.vs/UnoTaskManager.API/CopilotIndices/17.14.1431.25910/CodeChunks.db-shm
/Backend/UnoTaskManager.API/.vs/UnoTaskManager.API/CopilotIndices
/Backend/UnoTaskManager.API/.vs/UnoTaskManager.API/CopilotIndices
/Backend/UnoTaskManager.API/.vs/UnoTaskManager.API/CopilotIndices
/Backend/UnoTaskManager.API/.vs/UnoTaskManager.API/CopilotIndices
Backend/UnoTaskManager.API/.vs/UnoTaskManager.API/FileContentIndex/d553c440-8f4b-47fe-9ed7-5826f4239e13.vsidx
Backend/UnoTaskManager.API/.vs/UnoTaskManager.API/v17/.suo
Backend/UnoTaskManager.API/.vs/UnoTaskManager.API/v17/DocumentLayout.backup.json
Backend/UnoTaskManager.API/.vs/UnoTaskManager.API/v17/DocumentLayout.json
