/Backend/UnoTaskManager.API/.vs
/Backend/UnoTaskManager.API/obj
/Backend/UnoTaskManager.API/bin
/Backend/UnoTaskManager.Application/bin
/Backend/UnoTaskManager.Domain/bin
/Backend/UnoTaskManager.Domain/obj
/Backend/UnoTaskManager.Infrastructure/bin
/Backend/UnoTaskManager.Infrastructure/obj
/Backend/UnoTaskManager.Tests/bin
/Backend/UnoTaskManager.Tests/obj
/Backend/UnoTaskManager.API/.vs
/Backend/UnoTaskManager.Tests
/Backend/UnoTaskManager.Tests/obj
/Backend/UnoTaskManager.API/.vs
/Backend/UnoTaskManager.API/.vs
